.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    margin-top: 0;
    font-size: 36px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  button[type="submit"],
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover,
  button:hover {
    background-color: #3e8e41;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  
  li div:first-child {
    display: flex;
    align-items: center;
  }
  
  li div:first-child input[type="checkbox"] {
    margin-right: 10px;
  }
  
  li div:first-child span {
    font-size: 24px;
  }
  
  li div:last-child {
    display: flex;
    align-items: center;
  }
  
  li div:last-child button {
    margin-left: 10px;
    background-color: #f44336;
  }
  
  li div:last-child button:last-child {
    background-color: #2196f3;
  }
  
  li div:last-child button:hover {
    background-color: #d32f2f;
  }
  
  li div:last-child button:last-child:hover {
    background-color: #0d47a1;
  }
  
  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .completed {
    text-decoration: line-through;
  }
  